---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 16px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}


strong, b {
  font-weight: bold;        
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px $darkRed dashed;
	cursor: pointer;
  &:hover, &:active {    
    border-bottom: 2px $darkRed solid;
  }
}    
    
footer a {
    border-bottom: none;
}
        
/* date */
div.date{
    background: $pink;
    color:#fff;
    padding:4px;
    padding-top:6px;
    padding-right:6px;
    display: inline;
}
    
/* tables */    
table {  background: #fff; border-collapse: collapse;} /* Make table wider */    
td, th { border: 2px solid #fff; padding:6px; color:#555; font-size:12px; font-weight:normal;} /* Add borders to cells */
tr:nth-child(odd){ background-color:#fff8ff; } 
tr:nth-child(even)    { background-color:#ffeaff; } 
th{background:$pink; color:#fff }
    
/* gists */    
div[data-gist-id] table{width:100%;}
div[data-gist-id] table tr {background-color:#fff; border: solid 0px #0f0;}

/* lists */
ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}
    
code {
    padding:4px;
    font-size:85%;
    background:#FEEDFF;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-bottom: none;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
    
  a {
      border-bottom: none;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;  
}
    
.site-name a 
{
    border-bottom: none;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: none;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
 
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 0.1em .8em;
    border-left: 2px solid $lightGray;
    padding: 0.1em 1em;
    color: $gray;    
    font-style: italic;
  }

  .comments {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
  
  h1 {border-bottom: 8px #eee solid;  margin-top: 64px;}
}

.posts .post h1 {border-bottom: none;}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

div.share
{
	padding-top:20px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
